 <!-- contact-us -->
 <section class="contact-us container">
    <!-- contact-social-media -->
    <div class="contact-us__social">
        <span class="icon-container">
            <svg class="icon">
                <use xlink:href="./assets/images/svg-sprite.svg#linkedin"></use>
            </svg>
        </span>
        <span class="icon-container">
            <svg class="icon">
                <use xlink:href="./assets/images/svg-sprite.svg#facebook"></use>
            </svg>
        </span>
        <span class="icon-container">
            <svg class="icon">
                <use xlink:href="./assets/images/svg-sprite.svg#twitter"></use>
            </svg>
        </span>
    </div>
    <!-- contact-icons -->
    <div class="contact-us__icon">
        <div class="icon-holder">
            <span class="icon-holder__label">willie.jennings@example.com</span>
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="./assets/images/svg-sprite.svg#mail"></use>
                </svg>
            </span>
        </div>
        <div class="icon-holder">
            <span class="icon-holder__label">(843) 555-0130</span>
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="./assets/images/svg-sprite.svg#mobile"></use>
                </svg>
            </span>
        </div>
        <div class="icon-holder">
            <span class="icon-holder__label">6386 Spring St undefined Anchorage, Georgia 12473 United States</span>
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="./assets/images/svg-sprite.svg#map-pin"></use>
                </svg>
            </span>
        </div>
    </div>
    <!-- contact-map -->
    <div class="contact-us__map">
        <img src="/images/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg" alt="">
    </div>
    <!-- contact-form -->
    <div class="contact-us__form">
        <div class="form-wrapper">
            <h3>نظرات شما</h3>
            <form>
                <input type="text" placeholder="نام و نام خانوادگی">
                <input type="email" name="" id="" placeholder="ایمیل خود را وارد کنید" dir="ltr">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button type="submit" class="btn btn--primary">Send</button>
            </form>
        </div>
    </div>
</section>